<header>
<nav class="blue darken-3">
  <div class="nav-wrapper">
    <a class="brand-logo center">iTunes Search</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a>{{#link-to 'index'}}Home{{/link-to}}</a></li>
    </ul>
  </div>
</nav>
</header>
<main>
  <div class="container">
    {{outlet}}
  </div>
</main>
